body {
    font-family: Arial, sans-serif;
    background-color: #FFF5E6;
  }
  
  h1 {
    text-align: center;
  }
  
  h2 {
    color: #02664F;
    text-align: center;
  }
  
  table {
    border: 2px solid #78AB46;
    width: 650px;
    margin: 0 auto;
  }
  
  thead {
    background-color: #2E8B57;
  }
  
  td {
    border-top: 1px solid #78AB46;
  }
  
  .code {
    font-family: monospace;
    background-color: #FFF5E6;
  }

  #author {
    font-style: italic;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
  }
